.statusContainer {
  position: relative;
  top: 32px;
  background-color: #16a084a4;
  color: whitesmoke;
  padding: 8px 32px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
